/* 
The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px
*/

/* GENERAL */
:root {
  --white: hsl(0, 0%, 98%);
  --grey-md: hsl(0, 0%, 41%);
  --black: hsl(0, 0%, 8%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-size: 1.8rem;
  font-family: "Epilogue", sans-serif;
  overflow-x: hidden;
}

.container {
  width: 90%;
  max-width: 115rem;
  margin: 0 auto;
}

.mobile {
  display: none;
}

.icon-up1,
.icon-up2 {
  display: none;
}

.btn-mobile-nav {
  display: none;
  border: none;
  background-color: transparent;
  z-index: 999;
}

.btn-mobile-nav:hover {
  cursor: pointer;
}

.header-right-mobile {
  display: none;
}

.open.dark-wrap {
  display: inline;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;

  background: rgba(0, 0, 0, 0.753);
}

.close {
  display: none;
}
.open.menu {
  display: none;
}

.open.close {
  display: block;
}

.open.main-nav {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateX(40%);
  transition: all 0.3s ease-in;
  z-index: 998;
}

/* NAV SECTION */
.header {
  display: flex;
  justify-content: space-between;
  margin: 2em 3em 3em 3em;
  color: var(--grey-md);
}

.header-left,
.header-right {
  display: flex;
  align-items: center;
}

.header-left {
  gap: 3em;
}

.header-right {
  gap: 2em;
}

.nav-lists {
  font-size: 1.6rem;
  display: flex;
  gap: 2em;
  list-style: none;
}

.nav-list:last-child:hover {
  color: var(--black);
  cursor: pointer;
}

.nav-drop:link,
.nav-drop:visited {
  text-decoration: none;
  color: var(--grey-md);
}
.nav-drop:hover,
.nav-drop:active {
  color: var(--black);
}

.nav-drop .icon-down1,
.nav-drop .icon-down2 {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.nav-drop:hover .icon-down1,
.nav-drop:hover .icon-down2 {
  transform: rotate(180deg);
}
.nav-drop:hover path {
  stroke: var(--black);
}

.login {
  font-size: 1.6rem;
}
.login:hover {
  color: var(--black);
  cursor: pointer;
}

.btn-header {
  font-family: "Epilogue", sans-serif;
  font-size: 1.6rem;
  color: var(--grey-md);
  background-color: var(--white);
  padding: 0.6em 1.3em;
  border: 2px solid var(--grey-md);
  border-radius: 0.8em;
}
.btn-header:hover {
  color: var(--black);
  border: 2px solid var(--black);
  cursor: pointer;
}

.feature-menu {
  position: relative;
}

.dropdown-menu {
  opacity: 0;
  visibility: hidden;
  display: flex;
  background-color: var(--white);
  position: absolute;
  flex-direction: column;
  gap: 1em;
  padding: 1.2em 1.2em;
  min-width: 9em;
  border-radius: 1rem;
  box-shadow: 0.1rem 0.1rem 150rem 0.1rem;
  right: 0;
  top: 25px;
  transition: all 0.2s;
}

.dropdown-menu svg {
  width: 16px;
  height: 16px;
}

.dropdown-items:link,
.dropdown-items:visited {
  display: flex;
  gap: 1em;
  text-decoration: none;
  color: var(--grey-md);
}

.feature-menu:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
}

.company-menu {
  position: relative;
}

.dropdown-menu-company {
  display: flex;
  opacity: 0;
  visibility: hidden;
  background-color: var(--white);
  position: absolute;
  flex-direction: column;

  gap: 1em;
  padding: 1.2em 1.3em;
  min-width: 7.5em;
  border-radius: 1rem;
  box-shadow: 0.1rem 0.1rem 150rem 0.1rem;
  right: 0;
  top: 25px;
  transition: all 0.2s;
}

.dropdown-menu-company a {
  text-decoration: none;
  color: var(--grey-md);
}

.company-menu:hover .dropdown-menu-company {
  opacity: 1;
  visibility: visible;
}

/* HERO SECTION */
.hero {
  display: grid;
  grid-template-columns: 52fr 48fr;
  column-gap: 7em;
  margin-bottom: 6em;
}

.main-img {
  width: 100%;

  grid-column: 2/-2;
  grid-row: 1/3;
}

.main-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.primary-heading {
  font-size: 8rem;
  color: var(--black);
  margin-bottom: 0.8em;
}

.desc {
  font-size: 1.8rem;
  color: var(--grey-md);
  line-height: 1.5;
  margin-bottom: 3em;
  width: 80%;
}

.btn {
  font-family: "Epilogue", sans-serif;
  font-size: 1.8rem;
  color: var(--white);
  background-color: var(--black);
  padding: 1em 1.7em;
  border: 1px solid var(--black);
  border-radius: 0.8em;
}

.btn:hover {
  cursor: pointer;
  color: var(--black);
  background-color: var(--white);
}

.main-sp {
  display: flex;
  align-items: flex-end;
  gap: 2em;
}

/* Media queries */
@media (max-width: 80em) {
  html {
    font-size: 50%;
  }
}

/* 912px */
@media (max-width: 57em) {
  .mobile {
    display: inline-block;
    width: 100%;
  }

  .desktop {
    display: none;
  }

  .primary-heading br {
    display: none;
  }

  /* HERO SEC */
  .hero {
    display: flex;
    flex-direction: column;
    gap: 2.5em;
  }

  .main-text {
    align-items: center;
  }
  .main-sp {
    justify-content: space-between;
  }
  .primary-heading {
  }
}

/* mobile 700px and without hover*/
@media (max-width: 44em) and (hover: none) {
  .main-nav {
    /* display: none; */
  }

  .header {
    position: relative;
  }
  .header-right {
    display: none;
  }

  .btn-mobile-nav {
    display: inline-block;
  }

  .nav-list {
    font-size: 2rem;
  }

  .header-right-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2em;
    width: 50%;
  }

  .header-right-mobile .login {
    font-size: 2rem;
  }

  .header-right-mobile .btn-header {
    width: 100%;
    font-size: 2rem;
  }

  .header {
    margin: 2em 1em 3em 1em;
  }

  .primary-heading {
    font-size: 4rem;
  }

  .desc {
    text-align: center;
  }

  .main-sp {
    align-items: center;
  }

  .sp-image {
    width: 40%;
  }

  /* mobile nav */
  .main-nav {
    position: absolute;
    top: -3.5rem;
    left: 0;
    height: 100vh;
    width: 100%;
    transform: translateX(140%);
    background-color: var(--white);
    padding-left: 2em;
    padding-top: 6em;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .nav-lists {
    flex-direction: column;
    margin-bottom: 2em;
  }

  .nav-drop:hover,
  .nav-drop:active {
    color: var(--grey-md);
  }
  .nav-drop:hover path {
    stroke: var(--grey-md);
  }
  /* dropdown menu change */
  .dropdown-menu {
    display: none;
  }

  /* .feature-menu:hover .dropdown-menu {
    display: none;
    opacity: 1;
    visibility: visible;
    position: relative;
    box-shadow: 0 0 0 0;
    top: 0;
  } */
  /* .feature-menu .dropdown-menu {
    display: none;
    opacity: 0;
    visibility: visible;
    position: relative;
    box-shadow: 0 0 0 0;
    top: 0;
  } */
  .open-flex.feature-menu .dropdown-menu {
    display: flex;
    opacity: 1;
    visibility: visible;
    position: relative;
    box-shadow: 0 0 0 0;
    top: 0;
  }

  .dropdown-menu-company {
    display: none;
  }

  /* .company-menu:hover .dropdown-menu-company {
    display: flex;
    opacity: 1;
    visibility: visible;
    position: relative;
    box-shadow: 0 0 0 0;
    top: 0;
  } */

  .open-flex.company-menu .dropdown-menu-company {
    display: flex;
    opacity: 1;
    visibility: visible;
    position: relative;
    box-shadow: 0 0 0 0;
    top: 0;
  }
}

@media (max-width: 44em) and (hover: hover) {
  .dark-wrap {
    display: none;
  }
  .main-nav {
    /* display: none; */
  }

  .header {
    position: relative;
  }
  .header-right {
    display: none;
  }

  .btn-mobile-nav {
    display: inline-block;
  }

  .nav-list {
    font-size: 2rem;
  }

  .header-right-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2em;
    width: 50%;
  }

  .header-right-mobile .login {
    font-size: 2rem;
  }

  .header-right-mobile .btn-header {
    width: 100%;
    font-size: 2rem;
  }

  .header {
    margin: 2em 1em 3em 1em;
  }

  .primary-heading {
    font-size: 4rem;
  }

  .desc {
    text-align: center;
  }

  .main-sp {
    align-items: center;
  }

  .sp-image {
    width: 40%;
  }

  /* mobile nav */
  .main-nav {
    position: absolute;
    top: -3.5rem;
    left: 0;
    height: 100vh;
    width: 100%;
    transform: translateX(140%);
    background-color: var(--white);
    padding-left: 2em;
    padding-top: 6em;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .nav-lists {
    flex-direction: column;
    margin-bottom: 2em;
  }

  .nav-drop:hover,
  .nav-drop:active {
    color: var(--grey-md);
  }
  .nav-drop:hover path {
    stroke: var(--grey-md);
  }
  /* dropdown menu change */
  .dropdown-menu {
    display: none;
  }

  /* .feature-menu:hover .dropdown-menu {
    display: none;
    opacity: 1;
    visibility: visible;
    position: relative;
    box-shadow: 0 0 0 0;
    top: 0;
  } */
  /* .feature-menu .dropdown-menu {
    display: none;
    opacity: 0;
    visibility: visible;
    position: relative;
    box-shadow: 0 0 0 0;
    top: 0;
  } */
  .open-flex.feature-menu .dropdown-menu {
    display: flex;
    opacity: 1;
    visibility: visible;
    position: relative;
    box-shadow: 0 0 0 0;
    top: 0;
  }

  .dropdown-menu-company {
    display: none;
  }

  /* .company-menu:hover .dropdown-menu-company {
    display: flex;
    opacity: 1;
    visibility: visible;
    position: relative;
    box-shadow: 0 0 0 0;
    top: 0;
  } */

  .open-flex.company-menu .dropdown-menu-company {
    display: flex;
    opacity: 1;
    visibility: visible;
    position: relative;
    box-shadow: 0 0 0 0;
    top: 0;
  }
}
