/* 
The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px
*/

/* GENERAL */
:root {
  --white: hsl(0, 0%, 98%);
  --grey-md: hsl(0, 0%, 41%);
  --black: hsl(0, 0%, 8%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-family: "Epilogue", sans-serif;
}

.container {
  width: 90%;
  max-width: 115rem;
  margin: 0 auto;
}

.mobile {
  display: none;
}

.icon-up1,
.icon-up2 {
  display: none;
}

/* NAV SECTION */
.header {
  display: flex;
  justify-content: space-between;
  margin: 2em 3em 3em 3em;
  color: var(--grey-md);
}

.header-left,
.header-right {
  display: flex;
  align-items: center;
}

.header-left {
  gap: 3em;
}

.header-right {
  gap: 2em;
}

.nav-lists {
  font-size: 1.6rem;
  display: flex;
  gap: 2em;
  list-style: none;
}

.nav-list:last-child:hover {
  color: var(--black);
  cursor: pointer;
}

.nav-drop:link,
.nav-drop:visited {
  text-decoration: none;
  color: var(--grey-md);
}
.nav-drop:hover,
.nav-drop:active {
  color: var(--black);
}

.nav-drop:hover path {
  stroke: var(--black);
}

.login {
  font-size: 1.6rem;
}
.login:hover {
  color: var(--black);
  cursor: pointer;
}

.btn-header {
  font-family: "Epilogue", sans-serif;
  font-size: 1.6rem;
  color: var(--grey-md);
  background-color: var(--white);
  padding: 0.6em 1.3em;
  border: 2px solid var(--grey-md);
  border-radius: 0.8em;
}
.btn-header:hover {
  color: var(--black);
  border: 2px solid var(--black);
  cursor: pointer;
}

.feature-menu {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  flex-direction: column;
  gap: 1em;
  padding: 1.2em 1.2em;
  min-width: 9em;
  border-radius: 1rem;
  box-shadow: 0.1rem 0.1rem 150rem 0.1rem;
  right: 0;
  top: 25px;
}

.dropdown-menu svg {
  width: 16px;
  height: 16px;
}

.dropdown-items:link,
.dropdown-items:visited {
  display: flex;
  gap: 1em;
  text-decoration: none;
  color: var(--grey-md);
}

.feature-menu:hover .dropdown-menu {
  display: flex;
}

.company-menu {
  position: relative;
}

.dropdown-menu-company {
  display: none;
  position: absolute;
  flex-direction: column;

  gap: 1em;
  padding: 1.2em 1.3em;
  min-width: 7.5em;
  border-radius: 1rem;
  box-shadow: 0.1rem 0.1rem 150rem 0.1rem;
  right: 0;
  top: 25px;
}

.dropdown-menu-company a {
  text-decoration: none;
  color: var(--grey-md);
}

.company-menu:hover .dropdown-menu-company {
  display: flex;
}

/* HERO SECTION */
.hero {
  display: grid;
  grid-template-columns: 52fr 48fr;
  column-gap: 7em;
  margin-bottom: 6em;
}

.main-img {
  width: 100%;

  grid-column: 2/-2;
  grid-row: 1/3;
}

.main-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.primary-heading {
  font-size: 8rem;
  color: var(--black);
  margin-bottom: 0.8em;
}

.desc {
  font-size: 1.8rem;
  color: var(--grey-md);
  line-height: 1.5;
  margin-bottom: 3em;
  width: 80%;
}

.btn {
  font-family: "Epilogue", sans-serif;
  font-size: 1.8rem;
  color: var(--white);
  background-color: var(--black);
  padding: 1em 1.7em;
  border: 1px solid var(--black);
  border-radius: 0.8em;
}

.btn:hover {
  cursor: pointer;
  color: var(--black);
  background-color: var(--white);
}

.main-sp {
  display: flex;
  align-items: flex-end;
  gap: 2em;
}

/* Displays SECTION */
